#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS = -D_FORTIFY_SOURCE=2 -fstack-protector-all --param=ssp-buffer-size=4 -g -O3 -flto=8 
CPPFLAGS = -D_FORTIFY_SOURCE=2 -fstack-protector-all --param=ssp-buffer-size=4 -g -O3 -flto=8 
LDFLAGS = -g -Wl,-flto=8 -Wl,-Bsymbolic-functions -Wl,-O1 -Wl,--as-needed -Wl,-z,relro -Wl,-z,now

DEB_CONFIGURE_MANDIR=/usr/share/man/
#--enable-libunity
DEB_CONFIGURE_EXTRA_FLAGS = --with-libmagic --docdir=/usr/share/doc/tpad --localstatedir='/var' --sharedstatedir='/var/lib'
